<h1>You deleted a <%= singular_table_name.humanize.downcase %>!</h1>

<p>
  There are now <%%= @remaining_<%= singular_table_name %>_count %> <%= plural_table_name.humanize.downcase %>.
</p>

<p>
  <a href="/<%= plural_table_name %>">
    Click here
  </a>

  to go back.
</p>
