<h1>You updated <%= singular_table_name.humanize.downcase %> #<%%= <%= singular_table_name %>_to_prefill.id %>!</h1>

<p>
  <a href="/<%= plural_table_name %>/<%%= <%= singular_table_name %>_to_prefill.id %>">
    Click here
  </a>

  to check it out.
</p>
